%h2 レッスン一覧
- @lessons.each do |lesson|
  %p= l lesson.started_at
  %p
    #{lesson.teacher.name}/
    = t("language.#{lesson.teacher.language.name}")
  = render 'lesson_reservations/lesson_reservation_form', lesson: lesson

= paginate @lessons
