- if @lesson.errors.present?
  - @lesson.errors.full_messages.each do |msg|
    = msg
%h2 レッスン作成画面
= form_with(model: @lesson) do |f|
  = f.datetime_field :started_at, min: Date.current
  = f.submit
= link_to '複数レッスンを同時作成する', new_teachers_multiple_lesson_path
= link_to '範囲指定でレッスンを作成する', new_teachers_specific_range_lesson_path
