%p 開始: #{ l @lesson.started_at }
%p 講師: #{@lesson.teacher.name}
%p= "生徒: #{@lesson.lesson_reservation.student.name}" if @lesson.lesson_reservation.present?
%p
  言語: 
  = t("language.#{@lesson.teacher.language.name}")
%p zoom_url: #{@lesson.zoom_url}
- if @lesson.content.present?
  %p --講義内容--
  %p= @lesson.content
= link_to '編集', edit_lesson_path if current_teacher == @lesson.teacher
