%h2= t("language.#{@language.name}")
%p 
  #{@today.month}月の予約率:
  #{language_reservation_rate_for_month(@language, @today)}%
%p ※測定不能の場合「--」と表示
%table
  - @days.each do |day|
    %th= day
  - @dates_for_week.each do |week|
    %tr
      - week.each do |date|
        - if date == @from
          - date.wday.times do
            %td
        %td
          %p= date.day
          %p= language_reservation_reate_for_day(@language, date)
