!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MeetUpApp3
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if !student_signed_in? && !teacher_signed_in? && !admin_signed_in?
      = link_to '管理者ログイン', new_admin_session_path
      = link_to '講師ログイン', new_teacher_session_path
      = link_to '生徒ログイン', new_student_session_path

    - if admin_signed_in?
      = link_to 'マイページ', admin_path
      = link_to '管理者ログアウト', destroy_admin_session_path, method: :delete

    - if teacher_signed_in?
      = link_to 'マイページ', teacher_path(current_teacher)
      = link_to 'マイレッスン', teachers_lesson_path(current_teacher)
      = link_to '講師ログアウト', destroy_teacher_session_path, method: :delete
      
    - if student_signed_in?
      = link_to 'マイページ', student_path(current_student)
      = link_to '生徒ログアウト', destroy_student_session_path, method: :delete
    
    %p= notice
    %p= alert

    = yield
